# Homework 3

## Sia Sharma
## Collaborators: Om Italiya, Nikita Salkar

## Question 1

### part a)

In [29]:
import random
from random import sample

lst = [1, 2, 3, 4, 5, 6, 7, 8, 9]

random.sample(lst, 5)

[4, 9, 1, 5, 8]

### part b)

In [30]:
import numpy as np
import pandas as pd

#define list
cars = ["bmw","tesla","aston martin","bugatti","ferrari","rolls royce","ford","toyota","jeep","mercedes","honda","chevrolet","audi","mazda","lamborghini","cadillac","bentley","volkswagen"]


# Selecting 10 random car names
randnames = random.sample(cars,10)
randnames2 = random.sample(cars, 10) #making another random sample so that the same list is not repeated

# Doing MPG and seconds to 60 random lists using range
randMPG = random.sample(range(5,51), 10)
sec260 = random.sample(range(1,21), 10)

#making dataframes
df1 = pd.DataFrame({'Name': randnames, 'MPG': randMPG})
df2 = pd.DataFrame({'Name': randnames2, 'Seconds To 60': sec260})


print(df1)
print( )
print(df2)

           Name  MPG
0   rolls royce   50
1          ford   45
2       bugatti   24
3       bentley   31
4       ferrari   30
5          audi   49
6   lamborghini   33
7    volkswagen   39
8  aston martin   25
9         mazda   47

           Name  Seconds To 60
0         mazda             11
1    volkswagen              1
2  aston martin             19
3       bentley             12
4      mercedes              6
5       ferrari              9
6           bmw             18
7       bugatti             16
8         honda             15
9   lamborghini             10

### part c)

In [31]:
# Merging the two DataFrames on the 'Name' column using outer join
df = pd.merge(df1, df2, on = 'Name', how = 'outer')
df

            Name   MPG  Seconds To 60
0   aston martin  25.0           19.0
1           audi  49.0            NaN
2        bentley  31.0           12.0
3            bmw   NaN           18.0
4        bugatti  24.0           16.0
5        ferrari  30.0            9.0
6           ford  45.0            NaN
7          honda   NaN           15.0
8    lamborghini  33.0           10.0
9          mazda  47.0           11.0
10      mercedes   NaN            6.0
11   rolls royce  50.0            NaN
12    volkswagen  39.0            1.0

### part d)

In [32]:
# Filling missing values in 'MPG' column with mean value
meanval = df["MPG"].mean()
df["MPG"] = df["MPG"].replace(np.nan, meanval)

# Filling missing values in 'Seconds To 60' column with maximum value
maxval = df["Seconds To 60"].max()
df["Seconds To 60"] = df["Seconds To 60"].replace(np.nan, maxval)

print(df)

            Name   MPG  Seconds To 60
0   aston martin  25.0           19.0
1           audi  49.0           19.0
2        bentley  31.0           12.0
3            bmw  37.3           18.0
4        bugatti  24.0           16.0
5        ferrari  30.0            9.0
6           ford  45.0           19.0
7          honda  37.3           15.0
8    lamborghini  33.0           10.0
9          mazda  47.0           11.0
10      mercedes  37.3            6.0
11   rolls royce  50.0           19.0
12    volkswagen  39.0            1.0

### part e)

In [33]:
# Adding prefix "Awesome" to the values in the 'Name' column
df["Name"] = "Awesome " + df["Name"]

print(df)

                    Name   MPG  Seconds To 60
0   Awesome aston martin  25.0           19.0
1           Awesome audi  49.0           19.0
2        Awesome bentley  31.0           12.0
3            Awesome bmw  37.3           18.0
4        Awesome bugatti  24.0           16.0
5        Awesome ferrari  30.0            9.0
6           Awesome ford  45.0           19.0
7          Awesome honda  37.3           15.0
8    Awesome lamborghini  33.0           10.0
9          Awesome mazda  47.0           11.0
10      Awesome mercedes  37.3            6.0
11   Awesome rolls royce  50.0           19.0
12    Awesome volkswagen  39.0            1.0

### part f)

In [34]:
# Selecting rows where MPG is greater than the median MPG
df_eco = df.loc[df['MPG'] > df['MPG'].median()]

print(df_eco)

                   Name   MPG  Seconds To 60
1          Awesome audi  49.0           19.0
6          Awesome ford  45.0           19.0
9         Awesome mazda  47.0           11.0
11  Awesome rolls royce  50.0           19.0
12   Awesome volkswagen  39.0            1.0

## Question 2

### part a)

In [35]:
import pandas as pd

In [36]:
ingredients = pd.read_csv('ingredients.csv', sep=',') #reading and opening the file

ingredients

   Yeast  Flour  Sugar
0   57.5  112.5    245

### part b)

In [37]:
pastries = pd.read_csv('pastries.csv', sep=',') #reading and opening the file

pastries

              Name  Price  Yeast  Flour  Sugar
0        Apple Pie   2.99   0.00   0.75   1.50
1        Croissant   2.50   0.50   1.50   0.25
2  Poppy seed roll   5.99   1.15   1.50   0.75

### part c)

In [55]:
from scipy.optimize import linprog

costs = pastries["Price"].ravel()*-1 #ravel converts the prices into a 1D array, and make it negative because it's a cost and we need to maximise profit

Needed = ([pastries["Yeast"],pastries["Flour"],pastries["Sugar"]]) #split by columns for each ingredient needed, shows inequality constraints
Have = (ingredients["Yeast"],ingredients["Flour"],ingredients["Sugar"]) # how much of each ingredient we have

#create bounds so that solution cannot go under 0
bounds = [(0,None) for i in range(3)]

# solve the problem with the function where A_ub is <= B_ub
results = linprog(costs, A_ub = Needed , b_ub = Have, bounds = bounds)

print("The max profit is $" + str(results.fun*-1) + " and can be achieved by producing") # multiple by -1 to negate the negative costs and use fun for the maximization

# checking how much of each item I make
#print(results.x) 

#print how much of each item maximizes profits based on the fact that results.x shows it in order based on the item
print(" * Apple Pie: " + str(results.x[0]) + " pieces")
print(" * Poppy Seed Roll: " + str(results.x[2]) + " pieces")

The max profit is $449.0 and can be achieved by producing
 * Apple Pie: 50.00000000000001 pieces
 * Poppy Seed Roll: 50.0 pieces

/var/folders/n6/g5y123d14fb0t7zd7n5z_n640000gn/T/ipykernel_71294/846411676.py:3: FutureWarning: Series.ravel is deprecated. The underlying array is already 1D, so ravel is not necessary.  Use `to_numpy()` for conversion to a numpy array instead.
  costs = pastries["Price"].ravel()*-1 #ravel converts the prices into a 1D array, and make it negative because it's a cost and we need to maximise profit

## Question 3

I spent around 4 hours on this homework.